# Dalberg Automobil  Data Cleaning and Analysis

# Importing libraries to be used

In [0]:
#importing pandas and numpy

import pandas as pd

import numpy as np

# Loading the dataset to be used

In [0]:
#
elecar = pd.read_csv('http://bit.ly/Autolibdataset', encoding='utf-8', index_col=0)
elecar.head()

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

                      Address  Cars  Bluecar counter  ...  day  hour  minute
0              24 Rue Vulpian     3                3  ...    1     0       0
1  8 Boulevard Richard Lenoir     0                0  ...    1     0       0
2        4 Rue Charles Bossut     3                3  ...    1     0       0
3   3 avenue Claude Vellefaux     4                4  ...    1     0       0
4      236 Boulevard Voltaire     1                1  ...    1     0       0

[5 rows x 25 columns]

# Previewing the dataset

In [0]:
#Previewing the first 10 rows of the dataset
elecar.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                      24 Rue Vulpian     3                3  ...    1     0       0
1          8 Boulevard Richard Lenoir     0                0  ...    1     0       0
2                4 Rue Charles Bossut     3                3  ...    1     0       0
3           3 avenue Claude Vellefaux     4                4  ...    1     0       0
4              236 Boulevard Voltaire     1                1  ...    1     0       0
5        44 Rue des Pirogues de Bercy     1                1  ...    1     0       0
6         63 Boulevard Richard Lenoir     1                1  ...    1     0       0
7                   43 Rue de Monceau     0                0  ...    1     0       0
8  10 Avenue du Docteur Arnold Netter     4                4  ...    1     0       0
9      33 Avenue Pierre 1er de Serbie     2                2  ...    1     0       0

[10 rows x 25 columns]

# Accessing information about the dataset

In [0]:
#
elecar.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14421829 entries, 0 to 1072
Data columns (total 25 columns):
Address                object
Cars                   int64
Bluecar counter        int64
Utilib counter         int64
Utilib 1.4 counter     int64
Charge Slots           int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code            int64
Public name            object
Rental status          object
Scheduled at           object
Slots                  int64
Station type           object
Status                 object
Subscription status    object
year                   int64
month                  int64
day                    int64
hour                   int64
minute                 int64
dtypes: int64(12), object(13)
memory usage: 2.8+ GB

# Cleaning the dataset

## Improving Validity

In [0]:
#Dropping irrelevant columns from the dataset

elcar = elecar.drop(['Cars', 'Geo point', 'Address', 'Displayed comment', 'Address', 'Kind', 'Charging Status', 'Subscription status', 'year', 'month', 'ID'], axis=1)
elcar.head()

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour  minute
0                3               1                   0  ...    1    0       0
1                0               0                   0  ...    1    0       0
2                3               0                   0  ...    1    0       0
3                4               0                   0  ...    1    0       0
4                1               0                   0  ...    1    0       0

[5 rows x 15 columns]

In [0]:
elcar.drop(['Scheduled at'], axis=1, inplace=True)

In [0]:
elcar.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14421829 entries, 0 to 1072
Data columns (total 14 columns):
Bluecar counter       int64
Utilib counter        int64
Utilib 1.4 counter    int64
Charge Slots          int64
City                  object
Postal code           int64
Public name           object
Rental status         object
Slots                 int64
Station type          object
Status                object
day                   int64
hour                  int64
minute                int64
dtypes: int64(9), object(5)
memory usage: 1.6+ GB

In [0]:
elcar.tail()

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour  minute
880                 2               0                   0  ...    9   23      59
950                 3               0                   0  ...    9   23      59
996                 5               0                   0  ...    9   23      59
1010                0               0                   0  ...    9   23      59
1072                1               0                   0  ...    9   23      59

[5 rows x 14 columns]

## Checking and Improving on Completeness

In [0]:
elcar.isnull().sum()

Bluecar counter       0
Utilib counter        0
Utilib 1.4 counter    0
Charge Slots          0
City                  0
Postal code           0
Public name           0
Rental status         0
Slots                 0
Station type          0
Status                0
day                   0
hour                  0
minute                0
dtype: int64

In [0]:
elcar.notnull().sum()

Bluecar counter       14421829
Utilib counter        14421829
Utilib 1.4 counter    14421829
Charge Slots          14421829
City                  14421829
Postal code           14421829
Public name           14421829
Rental status         14421829
Slots                 14421829
Station type          14421829
Status                14421829
day                   14421829
hour                  14421829
minute                14421829
dtype: int64

In [0]:
#removing outliers

## Accuracy

## Improving Consistency

In [0]:
#checking for duplicates
elcar.duplicated().sum()

142890

In [0]:
#dropping duplicates values
elcar.drop_duplicates(inplace=True)

In [0]:
#confirming if duplicate values have been dropped
elcar.duplicated().sum()

0

In [0]:
elcar.shape

(14278939, 14)

## Enhancing Uniformity

In [0]:
#converting column names to lower case
elcar.columns = elcar.columns.str.lower()
elcar.head()

   bluecar counter  utilib counter  utilib 1.4 counter  ...  day hour  minute
0                3               1                   0  ...    1    0       0
1                0               0                   0  ...    1    0       0
2                3               0                   0  ...    1    0       0
3                4               0                   0  ...    1    0       0
4                1               0                   0  ...    1    0       0

[5 rows x 14 columns]

# Exporting the cleaned dataset

In [0]:
elcar.to_csv('llcar.csv')

# Data Analysis

In [0]:
lcar = pd.read_csv('llcar.csv', index_col=0, encoding='utf-8')
lcar.head()

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

   bluecar counter  utilib counter  utilib 1.4 counter  ...  day hour  minute
0                3               1                   0  ...    1    0       0
1                0               0                   0  ...    1    0       0
2                3               0                   0  ...    1    0       0
3                4               0                   0  ...    1    0       0
4                1               0                   0  ...    1    0       0

[5 rows x 14 columns]

## Most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018

In [0]:
elcar = lcar[lcar['city'] == 'Paris']

car = elcar.groupby('hour')[['bluecar counter']].sum()
car.head()

      bluecar counter
hour
0              555135
1              568729
2              632795
3              644992
4              643268

In [0]:
carr = car.sort_values('bluecar counter', ascending=True)
carr.head()

      bluecar counter
hour
19             514678
18             532674
17             545184
23             551234
20             552760

In [0]:
## 19:00 hrs is the most popular hour for picking up a shared bluecar
## It is the time when the cars are the least at the stations 
## Only 515678 cars are at the station at 1900hrs

In [0]:
carrr = carr[['bluecar counter']][:1]
carrr

      bluecar counter
hour
19             514678

In [0]:
carrr.index

Int64Index([19], dtype='int64', name='hour')

In [0]:
carrr.index

Int64Index([19], dtype='int64', name='hour')

### Popular hour for picking up a utilib

In [0]:
cr = elcar.groupby('hour')[['utilib counter']].sum()
cr.head()

      utilib counter
hour
0              16280
1              16628
2              18002
3              18153
4              18506

In [0]:
crr = cr.sort_values('utilib counter', ascending=True)
crr.head()

      utilib counter
hour
23             14812
18             15003
19             15558
20             15686
17             15845

In [0]:
## 2300hrs is the most popular hour for picking up a utilib.
## only 14812 utilibs are available at the station at 2300hrs

### Most popular hour for picking up a utilib 1.4

In [0]:
r = elcar.groupby('hour')[['utilib 1.4 counter']].sum()
r.head()

      utilib 1.4 counter
hour
0                  35137
1                  34204
2                  37620
3                  38071
4                  38412

In [0]:
rr = r.sort_values('utilib 1.4 counter', ascending=True)
rr.head()

      utilib 1.4 counter
hour
19                 33624
1                  34204
23                 34247
15                 34589
18                 35113

In [0]:
## 1900hrs is the most popular hour for picking up a utilib 1.4 in Paris. the peak picking hour is similar to that of bluecars.

## Most popular hour for returning cars

In [0]:
#Most popular hour for returning cars is when cars are the most at the station 
#In the city of Paris
retCar = car.sort_values('bluecar counter', ascending=False)
retCar.head()

      bluecar counter
hour
6              657149
5              649680
3              644992
4              643268
7              641821

In [0]:
#0600hrs is the most popular hour for returning shared bluecars in the city of Paris 
#It is the time when cars are the most at the station
#657149 blucar cars are available at the station at 0600hrs

In [0]:
# Popular returning time generally
popRet = lcar.groupby('hour')[['bluecar counter']].sum()
popRet.head()

      bluecar counter
hour
0              555135
1              568729
2              632795
3              644992
4              643268

In [0]:
#

popRt = popRet.sort_values('bluecar counter', ascending=False) 
popRt.head()

      bluecar counter
hour
6              657149
5              649680
3              644992
4              643268
7              641821

In [0]:
popRt['bluecar counter'][:1]

hour
6    657149
Name: bluecar counter, dtype: int64

## Most popular station overall

In [0]:
lcar.tail()

      bluecar counter  utilib counter  utilib 1.4 counter  ...  day hour  minute
1094                2               0                   1  ...    9   23      59
1095                2               0                   0  ...    9   23      59
1102                0               0                   0  ...    9   23      59
1114                0               0                   0  ...    9   23      59
1115                4               0                   0  ...    9   23      59

[5 rows x 14 columns]

In [0]:
llcar = lcar[lcar['rental status'] == 'operational']

llcar.head()

   bluecar counter  utilib counter  utilib 1.4 counter  ...  day hour  minute
0                3               1                   0  ...    1    0       0
1                0               0                   0  ...    1    0       0
2                3               0                   0  ...    1    0       0
3                4               0                   0  ...    1    0       0
4                1               0                   0  ...    1    0       0

[5 rows x 14 columns]

In [0]:
##

ellcar = llcar.groupby('public name')[['bluecar counter']].sum()

ellcar.head()

                       bluecar counter
public name
Paris/25 AoÃ»t 1944/8            18646
Paris/Adolphe Max/6              13112
Paris/Adolphe Mille/8            25883
Paris/Adolphe Yvon/6             46981
Paris/Alexandrie/7               10074

In [0]:
popSta = ellcar.sort_values('bluecar counter', ascending=False)
popSta.head()

                                  bluecar counter
public name
Paris/Versailles Reynaud/Parking            65863
Paris/Porte Saint-Cloud/Parking             64165
Paris/Picpus Nation/Parking                 63166
Paris/Gouvion Maillot/Parking               57540
Paris/Lacordaire/56                         57230

In [0]:
## In overall, Paris/Versailles Reynaud/Parking is the most popular station for shared bluecars, with a total of 65,853 cars.
## Paris/Porte Saint-Cloud/Parking & Paris/Picpus Nation/Parking follow in second and third with 64,165 and 63166 respectively.
##

In [0]:
popSta.tail()

                                         bluecar counter
public name
Paris/Sainte-Croix de la Bretonnerie/37             3923
Paris/Nonnains d'HyÃ¨res/1                          3904
Paris/Pont Louis-Philippe/24                        3564
Paris/Lobau/Parking                                 3277
Paris/Quai d'Austerlitz/Parking                      172

In [0]:
## Paris/Quai d'Austerlitz/Parking has the least amount of bluecars available at the station with only 172 bluecars
##

In [0]:
#rental status is operational 
#groupby public name bluecar counter.sum 
#sort in descending order

In [0]:
ellcar.sort_values('bluecar counter', ascending=True).head()

                                         bluecar counter
public name
Paris/Quai d'Austerlitz/Parking                      172
Paris/Lobau/Parking                                 3277
Paris/Pont Louis-Philippe/24                        3564
Paris/Nonnains d'HyÃ¨res/1                          3904
Paris/Sainte-Croix de la Bretonnerie/37             3923

### Most popular station at the most popular picking hour

In [0]:
## carrr.index - most popular picking hour 
# carr - 

pp = llcar.groupby('hour')['bluecar counter'].sum() 
pp.head()

hour
0    555135
1    568729
2    632795
3    644992
4    643268
Name: bluecar counter, dtype: int64

In [0]:
cc = c.groupby(['hour'])[['bluecar counter']].sum()
cc.head()

      bluecar counter
hour
0              555135
1              568729
2              632795
3              644992
4              643268

In [0]:
dd = llcar.groupby(['hour', 'public name'])[['bluecar counter']].sum()

dd.head()

                            bluecar counter
hour public name
0    Paris/25 AoÃ»t 1944/8              680
     Paris/Adolphe Max/6                799
     Paris/Adolphe Mille/8              617
     Paris/Adolphe Yvon/6              1600
     Paris/Alexandrie/7                 224

In [0]:
ddd = dd.loc[[19]]

daa = ddd.sort_values('bluecar counter', ascending=False)
daa.head()

                                       bluecar counter
hour public name
19   Paris/Porte Saint-Cloud/Parking              2891
     Paris/Versailles Reynaud/Parking             2846
     Paris/Picpus Nation/Parking                  2657
     Paris/Gouvion Maillot/Parking                2497
     Paris/Ternes/Parking                         2425

In [0]:
ddd.shape

(575, 1)

In [0]:
## Paris/Versailles Reynaud/Parking remains the most popular station during the peak hour for picking cars 
## It experiences the most significant drop in number of cars available the station during peak picking up hour

In [0]:
das = ddd.groupby(['public name'])[['bluecar counter']].sum()

das.sort_values('bluecar counter', ascending=False).head()

                                  bluecar counter
public name
Paris/Porte Saint-Cloud/Parking              2891
Paris/Versailles Reynaud/Parking             2846
Paris/Picpus Nation/Parking                  2657
Paris/Gouvion Maillot/Parking                2497
Paris/Ternes/Parking                         2425

## Most popular postal code for picking up bluecars

In [0]:
llcar.tail()

      bluecar counter  utilib counter  utilib 1.4 counter  ...  day hour  minute
1089                4               0                   0  ...    9   23      59
1094                2               0                   1  ...    9   23      59
1095                2               0                   0  ...    9   23      59
1102                0               0                   0  ...    9   23      59
1115                4               0                   0  ...    9   23      59

[5 rows x 14 columns]

In [0]:
elel = llcar.groupby(['hour','postal code', 'public name'])[['postal code']].count()


elel.head()
#elel.sort_values(by = ['postal code'], axis=1, ascending=False)

                                                  postal code
hour postal code public name
0    75001       Paris/Amiral Coligny/2                   480
                 Paris/Bertin PoirÃ©e/14                  480
                 Paris/Colonel Driant/7                   480
                 Paris/Croix des Petits Champs/4          480
                 Paris/Jean-Jacques Rousseau/62           480

In [0]:
#renaming the name pof column to avoid conflict with index
elel.columns = ['pcode count']
elel.head()

                                                  pcode count
hour postal code public name
0    75001       Paris/Amiral Coligny/2                   480
                 Paris/Bertin PoirÃ©e/14                  480
                 Paris/Colonel Driant/7                   480
                 Paris/Croix des Petits Champs/4          480
                 Paris/Jean-Jacques Rousseau/62           480

In [0]:
liel = elel.sort_values('pcode count', ascending=False)
liel.head()

                                         pcode count
hour postal code public name
12   75001       Paris/Amiral Coligny/2          540
14   75009       Paris/La Fayette/56             540
                 Paris/Adolphe Max/6             540
                 Paris/Anvers/Parking            540
                 Paris/Aumale/28                 540

In [0]:
li = liel.groupby('postal code')[['pcode count']].sum()
li.head(10)

             pcode count
postal code
75001             114460
75002             140365
75003             190866
75004             215527
75005             240288
75006             215648
75007             318728
75008             401533
75009             291208
75010             286654

In [0]:
li.sort_values('pcode count', ascending=False).head()

             pcode count
postal code
75015             713875
75016             624518
75017             544231
75013             490380
75020             465877

In [0]:
## In overall, postal code 75015 is the most popular with a count of 713,875

### Determining station(s) associated with the most popular postal code

In [0]:
lii = liel.groupby(['postal code', 'public name'])[['pcode count']].sum()
lii.head()

                                             pcode count
postal code public name
75001       Paris/Amiral Coligny/2                 12390
            Paris/Bertin PoirÃ©e/14                12760
            Paris/Colonel Driant/7                 12747
            Paris/Croix des Petits Champs/4        12761
            Paris/Jean-Jacques Rousseau/62         12760

In [0]:
lii.sort_values('pcode count', ascending=False).head(20)

                                        pcode count
postal code public name
75013       Paris/Tolbiac/15                  12761
75012       Paris/Bercy/88                    12761
            Paris/Diderot/24                  12761
75016       Paris/Victor Hugo/18              12761
            Paris/Victor Hugo/180             12761
            Paris/Victor Hugo/60              12761
75012       Paris/Charles Bossut/4            12761
            Paris/Charenton/97                12761
75016       Paris/Ãmile Augier/20            12761
            Paris/Ãtats-Unis/16              12761
            Paris/Versailles/112              12761
75017       Paris/Batignolles/27              12761
            Paris/Batignolles/92              12761
75011       Paris/Voltaire/8                  12761
            Paris/Voltaire/236                12761
            Paris/Voltaire/182                12761
            Paris/Voltaire/106                12761
            Paris/Taillebourg/2               12761
75012       Paris/Fabre d'Ãglantine/2        12761
            Paris/Ledru-Rollin/88             12761

In [0]:
## multiple stations are associated with the popular postal code and they include Paris/Tolbiac/15, Paris/Voltaire/182, Paris/Batignolles/27 etc.
##

### Determining most popular postal codes during the peak picking hour

In [0]:
le = elel.sort_values('pcode count', ascending=False)
le.head(10)

                                            pcode count
hour postal code public name
12   75001       Paris/Amiral Coligny/2             540
14   75009       Paris/La Fayette/56                540
                 Paris/Adolphe Max/6                540
                 Paris/Anvers/Parking               540
                 Paris/Aumale/28                    540
                 Paris/Chateaudun/21                540
                 Paris/ChaussÃ©e d'Antin/5          540
                 Paris/Clichy/23                    540
                 Paris/Conservatoire/13             540
                 Paris/Haussmann/6                  540

In [0]:
lol = elel.loc[[19]]
lol.head()

                                                  pcode count
hour postal code public name
19   75001       Paris/Amiral Coligny/2                   452
                 Paris/Bertin PoirÃ©e/14                  540
                 Paris/Colonel Driant/7                   540
                 Paris/Croix des Petits Champs/4          540
                 Paris/Jean-Jacques Rousseau/62           540

In [0]:
lol.sort_values('pcode count', ascending=False).head(10)

                                          pcode count
hour postal code public name
19   75013       Paris/Tolbiac/15                 540
     75016       Paris/Chernoviz/12               540
     75015       Paris/VouillÃ©/47                540
                 Paris/Ãmile Duclaux/19          540
                 Paris/Ãmile Zola/143            540
                 Paris/Ãmile Zola/65             540
     75016       Paris/Adolphe Yvon/6             540
                 Paris/Auteuil/55                 540
                 Paris/Delessert/23               540
     75015       Paris/Vaugirard/20               540

In [0]:
## during the most popular picking up hour, the most popular postal codes are 75013, 75016, 75015