# Dalberg Automobil  Data Cleaning and Analysis

# Importing libraries to be used

In [0]:
#importing pandas and numpy

import pandas as pd

import numpy as np

# Loading the dataset to be used

In [3]:
#
elecar = pd.read_csv('http://bit.ly/Autolibdataset', encoding='utf-8', index_col=0)
elecar.head()

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

                      Address  Cars  Bluecar counter  ...  day  hour  minute
0              24 Rue Vulpian     3                3  ...    1     0       0
1  8 Boulevard Richard Lenoir     0                0  ...    1     0       0
2        4 Rue Charles Bossut     3                3  ...    1     0       0
3   3 avenue Claude Vellefaux     4                4  ...    1     0       0
4      236 Boulevard Voltaire     1                1  ...    1     0       0

[5 rows x 25 columns]

# Previewing the dataset

In [4]:
#Previewing the first 10 rows of the dataset
elecar.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                      24 Rue Vulpian     3                3  ...    1     0       0
1          8 Boulevard Richard Lenoir     0                0  ...    1     0       0
2                4 Rue Charles Bossut     3                3  ...    1     0       0
3           3 avenue Claude Vellefaux     4                4  ...    1     0       0
4              236 Boulevard Voltaire     1                1  ...    1     0       0
5        44 Rue des Pirogues de Bercy     1                1  ...    1     0       0
6         63 Boulevard Richard Lenoir     1                1  ...    1     0       0
7                   43 Rue de Monceau     0                0  ...    1     0       0
8  10 Avenue du Docteur Arnold Netter     4                4  ...    1     0       0
9      33 Avenue Pierre 1er de Serbie     2                2  ...    1     0       0

[10 rows x 25 columns]

# Accessing information about the dataset

In [5]:
#
elecar.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14421829 entries, 0 to 1072
Data columns (total 25 columns):
Address                object
Cars                   int64
Bluecar counter        int64
Utilib counter         int64
Utilib 1.4 counter     int64
Charge Slots           int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code            int64
Public name            object
Rental status          object
Scheduled at           object
Slots                  int64
Station type           object
Status                 object
Subscription status    object
year                   int64
month                  int64
day                    int64
hour                   int64
minute                 int64
dtypes: int64(12), object(13)
memory usage: 2.8+ GB

# Cleaning the dataset

## Improving Validity

In [6]:
#Dropping irrelevant columns from the dataset

elcar = elecar.drop(['Cars', 'Geo point', 'Address', 'Displayed comment', 'Charging Status', 'Subscription status', 'year', 'month', 'ID'], axis=1)
elcar.head()

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                3               1                   0  ...    1    0      0
1                0               0                   0  ...    1    0      0
2                3               0                   0  ...    1    0      0
3                4               0                   0  ...    1    0      0
4                1               0                   0  ...    1    0      0

[5 rows x 16 columns]

In [0]:
elcar.drop(['Scheduled at'], axis=1, inplace=True)

In [8]:
elcar.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14421829 entries, 0 to 1072
Data columns (total 15 columns):
Bluecar counter       int64
Utilib counter        int64
Utilib 1.4 counter    int64
Charge Slots          int64
City                  object
Kind                  object
Postal code           int64
Public name           object
Rental status         object
Slots                 int64
Station type          object
Status                object
day                   int64
hour                  int64
minute                int64
dtypes: int64(9), object(6)
memory usage: 1.7+ GB

In [0]:
elcar.drop(['Charge Slots'], axis=1, inplace=True)

In [10]:
elcar.tail()

      Bluecar counter  Utilib counter  Utilib 1.4 counter  ... day hour  minute
880                 2               0                   0  ...   9   23      59
950                 3               0                   0  ...   9   23      59
996                 5               0                   0  ...   9   23      59
1010                0               0                   0  ...   9   23      59
1072                1               0                   0  ...   9   23      59

[5 rows x 14 columns]

In [11]:
elcar.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14421829 entries, 0 to 1072
Data columns (total 14 columns):
Bluecar counter       int64
Utilib counter        int64
Utilib 1.4 counter    int64
City                  object
Kind                  object
Postal code           int64
Public name           object
Rental status         object
Slots                 int64
Station type          object
Status                object
day                   int64
hour                  int64
minute                int64
dtypes: int64(8), object(6)
memory usage: 1.6+ GB

## Checking and Improving on Completeness

In [12]:
elcar.isnull().sum()

Bluecar counter       0
Utilib counter        0
Utilib 1.4 counter    0
City                  0
Kind                  0
Postal code           0
Public name           0
Rental status         0
Slots                 0
Station type          0
Status                0
day                   0
hour                  0
minute                0
dtype: int64

In [13]:
elcar.notnull().sum()

Bluecar counter       14421829
Utilib counter        14421829
Utilib 1.4 counter    14421829
City                  14421829
Kind                  14421829
Postal code           14421829
Public name           14421829
Rental status         14421829
Slots                 14421829
Station type          14421829
Status                14421829
day                   14421829
hour                  14421829
minute                14421829
dtype: int64

In [14]:
elcar.head()

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ... day hour  minute
0                3               1                   0  ...   1    0       0
1                0               0                   0  ...   1    0       0
2                3               0                   0  ...   1    0       0
3                4               0                   0  ...   1    0       0
4                1               0                   0  ...   1    0       0

[5 rows x 14 columns]

## Accuracy

In [0]:
## Accuracy of the dataset cannot be improved further

## Improving Consistency

In [15]:
#checking for duplicates
elcar.duplicated().sum()

142890

In [0]:
#dropping duplicates values
elcar.drop_duplicates(inplace=True)

In [17]:
#confirming if duplicate values have been dropped
elcar.duplicated().sum()

0

In [18]:
elcar.shape

(14278939, 14)

## Enhancing Uniformity

In [19]:
#converting column names to lower case
elcar.columns = elcar.columns.str.lower()
elcar.head()

   bluecar counter  utilib counter  utilib 1.4 counter  ... day hour  minute
0                3               1                   0  ...   1    0       0
1                0               0                   0  ...   1    0       0
2                3               0                   0  ...   1    0       0
3                4               0                   0  ...   1    0       0
4                1               0                   0  ...   1    0       0

[5 rows x 14 columns]

# Exporting the cleaned dataset

In [0]:
elcar.to_csv('llcar.csv')

# Data Analysis

In [59]:
lcar = pd.read_csv('llcar.csv', index_col=0, encoding='utf-8')
lcar.head()

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

   bluecar counter  utilib counter  utilib 1.4 counter  ... day hour  minute
0                3               1                   0  ...   1    0       0
1                0               0                   0  ...   1    0       0
2                3               0                   0  ...   1    0       0
3                4               0                   0  ...   1    0       0
4                1               0                   0  ...   1    0       0

[5 rows x 14 columns]

## Most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018

### Most popular hour for picking up a bluecar

In [0]:
crrr = lcar[lcar['city'] == 'Paris']

In [68]:
rac = crrr.groupby(['public name', 'hour'])[['bluecar counter']].sum()
rac.head()

                            bluecar counter
public name           hour
Paris/25 AoÃ»t 1944/8 0                 680
                      1                 648
                      2                 665
                      3                 808
                      4                 796

In [69]:
rac['bluecar_usage'] = rac['bluecar counter'].diff()

rac.head()

                            bluecar counter  bluecar_usage
public name           hour
Paris/25 AoÃ»t 1944/8 0                 680            NaN
                      1                 648          -32.0
                      2                 665           17.0
                      3                 808          143.0
                      4                 796          -12.0

In [70]:
# usage column is negative when cars have been picked up

rc = rac[rac['bluecar_usage'] < 0]
rc.head()

                            bluecar counter  bluecar_usage
public name           hour
Paris/25 AoÃ»t 1944/8 1                 648          -32.0
                      4                 796          -12.0
                      5                 751          -45.0
                      9                1166         -108.0
                      10               1076          -90.0

In [71]:
rccc = rc.groupby('hour')[['bluecar_usage']].sum()
rccc.head()

      bluecar_usage
hour
0         -198445.0
1          -19543.0
2          -14185.0
3          -12413.0
4          -15218.0

In [72]:
rccc.sort_values('bluecar_usage', ascending=True).head()

      bluecar_usage
hour
0         -198445.0
23         -71250.0
8          -71141.0
12         -58887.0
19         -56376.0

In [0]:
## 0000hrs is the most popular for picking up a bluecar
## During the hour, 198,445 cars are picked from the stations in Paris

### Most popular hour for picking up a utilib

In [74]:
rccr = crrr.groupby(['public name', 'hour'])[['utilib counter']].sum()
rccr.head()

                            utilib counter
public name           hour
Paris/25 AoÃ»t 1944/8 0                 57
                      1                  0
                      2                  0
                      3                  0
                      4                  0

In [75]:
# Creating a new colummn to hold the usage of utilib over time

rccr['utilib_usage'] = rccr['utilib counter'].diff()
rccr.head()

                            utilib counter  utilib_usage
public name           hour
Paris/25 AoÃ»t 1944/8 0                 57           NaN
                      1                  0         -57.0
                      2                  0           0.0
                      3                  0           0.0
                      4                  0           0.0

In [77]:
# usage column is negative when cars have been picked up

rcr = rccr[rccr['utilib_usage'] < 0]
rcr.head()

                            utilib counter  utilib_usage
public name           hour
Paris/25 AoÃ»t 1944/8 1                  0         -57.0
                      12                 0         -43.0
                      16                 7         -39.0
                      19                 0         -43.0
Paris/Adolphe Max/6   1                 55          -5.0

In [79]:
rch = rcr.groupby('hour')[['utilib_usage']].sum()
rch.head()

      utilib_usage
hour
0         -10904.0
1          -2306.0
2          -1748.0
3          -1126.0
4           -728.0

In [80]:
rch.sort_values('utilib_usage', ascending=True).head()

      utilib_usage
hour
0         -10904.0
18         -4634.0
12         -4454.0
15         -4277.0
19         -4171.0

In [0]:
## The most popular hour for picking up a utilib is 0000hrs
## During the hour, 10,904 cars are picked up from the stations in Paris

### Most popular hour for picking up a utilib 1.4

In [82]:
war = crrr.groupby(['public name', 'hour'])[['utilib 1.4 counter']].sum()
war.head()

                            utilib 1.4 counter
public name           hour
Paris/25 AoÃ»t 1944/8 0                      0
                      1                      0
                      2                     11
                      3                     60
                      4                     60

In [84]:
# Creating a new colummn to hold the usage of utilib 1.4 over time

war['utilib_14_usage'] = war['utilib 1.4 counter'].diff()
war.head()

                            utilib 1.4 counter  utilib_14_usage
public name           hour
Paris/25 AoÃ»t 1944/8 0                      0              NaN
                      1                      0              0.0
                      2                     11             11.0
                      3                     60             49.0
                      4                     60              0.0

In [86]:
# usage column is negative when cars have been picked up

warr = war[war['utilib_14_usage'] < 0]
warr.head()

                            utilib 1.4 counter  utilib_14_usage
public name           hour
Paris/25 AoÃ»t 1944/8 8                     57             -3.0
                      11                   135            -45.0
                      12                   120            -15.0
                      14                   100            -20.0
                      15                    60            -40.0

In [87]:
warrr = warr.groupby('hour')[['utilib_14_usage']].sum()
warrr.head()

      utilib_14_usage
hour
0            -20594.0
1             -4546.0
2             -2701.0
3             -2390.0
4             -2436.0

In [89]:
warrr.sort_values('utilib_14_usage', ascending=True).head()

      utilib_14_usage
hour
0            -20594.0
12            -9104.0
19            -8542.0
23            -8347.0
15            -8135.0

In [0]:
## 0000hrs is the most popular hour for picking up a utilib 1.4 car
## During this hour, 20594 cars are picked up from the station

## The most popular picking up hour for shared electric cars is the same for all cars, i.e. 0000hrs

## Most popular hour for returning cars

### Most popular hour for returning a bluecar

In [90]:
# usage column is positive when cars have been returned 

ret = rac[rac['bluecar_usage'] > 0]
ret.head()

                            bluecar counter  bluecar_usage
public name           hour
Paris/25 AoÃ»t 1944/8 2                 665           17.0
                      3                 808          143.0
                      6                1010          259.0
                      7                1248          238.0
                      8                1274           26.0

In [91]:
rett = ret.groupby('hour')[['bluecar_usage']].sum()
rett.head()

      bluecar_usage
hour
0          203016.0
1           33137.0
2           78251.0
3           24610.0
4           13494.0

In [92]:
rett.sort_values('bluecar_usage', ascending=False).head()

      bluecar_usage
hour
0          203016.0
21          84121.0
2           78251.0
20          68087.0
10          57410.0

In [0]:
##most popular hour for returning a bluecar is 0000hrs
## 203016 cars are returned during that hour.
## 2100hrs

### Popular hour for returning a utilib

In [96]:
retan = rccr[rccr['utilib_usage'] > 0]
retan.head()

                            utilib counter  utilib_usage
public name           hour
Paris/25 AoÃ»t 1944/8 10                20          20.0
                      11                43          23.0
                      15                46          46.0
                      17                25          18.0
                      18                43          18.0

In [99]:
reta = retan.groupby('hour')[['utilib_usage']].sum()
reta.sort_values('utilib_usage', ascending=False)
reta.head()

      utilib_usage
hour
0          12375.0
1           2654.0
2           3122.0
3           1277.0
4           1081.0

## Most popular station overall

In [22]:
lcar.tail()

      bluecar counter  utilib counter  ...  utilib_usage utilib_14_usage
1114                0               0  ...           0.0             0.0
1115                4               0  ...           0.0             0.0
1116                6               0  ...           0.0             0.0
1117                2               0  ...           0.0             0.0
1118                0               0  ...           0.0             0.0

[5 rows x 17 columns]

In [23]:
llcar = lcar[(lcar['status'] == 'ok') & (lcar['kind'] == 'STATION')]

llcar.head()

   bluecar counter  utilib counter  ...  utilib_usage utilib_14_usage
0                3               1  ...           NaN             NaN
1                0               0  ...          -1.0             0.0
2                3               0  ...           0.0             0.0
3                4               0  ...           0.0             0.0
4                1               0  ...           0.0             0.0

[5 rows x 17 columns]

In [33]:
leecar = llcar.groupby('public name')[['public name']].count()

leecar.head()

                                    public name
public name
Alfortville/Charles de Gaulle/16          12761
Alfortville/Etienne Dolet/174             12760
Alfortville/Jean-Baptiste Preux/17        12760
Alfortville/Joseph Franceschi/1           12760
Alfortville/Port Ã  l'Anglais/39          12760

In [36]:
leecar.columns = ['public name count']
leecar.head()

                                    public name count
public name
Alfortville/Charles de Gaulle/16                12761
Alfortville/Etienne Dolet/174                   12760
Alfortville/Jean-Baptiste Preux/17              12760
Alfortville/Joseph Franceschi/1                 12760
Alfortville/Port Ã  l'Anglais/39                12760

In [37]:
popSta = leecar.sort_values('public name count', ascending=False)
popSta.head()

                                  public name count
public name
Alfortville/Charles de Gaulle/16              12761
Paris/Bois/1                                  12761
Paris/Porte Pouchet/6                         12761
Paris/Buisson Saint Louis/2                   12761
Paris/Porte de Montrouge/8                    12761

In [0]:
## There are multiple popular stations and they include Alfortville/Charles de Gaulle/16, Paris/Bois/1, Paris/Porte Pouchet/6, Paris/Buisson Saint Louis/2 etc. 
## These satations have a count of 12761, which is the highest

In [106]:
popSta.tail()

                                           public name count
public name
Nanterre/RÃ©publique/326                                5882
Issy-les-Moulineaux/Camille Desmoulins/31               5675
Sceaux/Houdan/118                                       4500
Saint-Denis/Cheminots/24                                4332
Paris/Roquette/162                                      4133

In [0]:
## Paris/Roquette/162 has the least amount of bluecars available at the station with only 172 bluecars
##

### Most popular station at the most popular picking hour

In [112]:
elelcar = lcar[(lcar['status'] == 'ok') & (lcar['kind'] == 'STATION') & (lcar['hour'] == 0) & (lcar['city'] == 'Paris')]
elelcar.tail()

elol = elelcar.groupby('public name')[['public name']].count()
elol.head()

                       public name
public name
Paris/25 AoÃ»t 1944/8          480
Paris/Adolphe Max/6            480
Paris/Adolphe Mille/8          480
Paris/Adolphe Yvon/6           480
Paris/Alexandrie/7             480

In [113]:
elol.shape

(525, 1)

In [0]:
elol.columns = ['public name count']

In [118]:
elol.sort_values('public name count', ascending=False).head(10)

                          public name count
public name
Paris/25 AoÃ»t 1944/8                   480
Paris/Nicolas Taunay/7                  480
Paris/Philippe Auguste/1                480
Paris/PerrÃ©e/18                        480
Paris/Pernety/46                        480
Paris/Pereire/271                       480
Paris/Pereire/170                       480
Paris/Pereire/115                       480
Paris/Pelleport/86                      480
Paris/Pelleport/105                     480

In [0]:
## Multiple stations are popular at the most popular picking hour and they include Paris/25 AoÃ»t 1944/8, Paris/Nicolas Taunay/7, Paris/Philippe Auguste/1, Paris/Pereire/170, Paris/Pereire/115, Paris/Pelleport/86 etc. 
## Paris/Roquette/162 is the least popular station during the most popular picking hour

## Most popular postal code for picking up bluecars

In [125]:
llcar.tail()

      bluecar counter  utilib counter  ...  utilib_usage utilib_14_usage
1109                2               0  ...           0.0             0.0
1112                5               0  ...           0.0             1.0
1116                6               0  ...           0.0             0.0
1117                2               0  ...           0.0             0.0
1118                0               0  ...           0.0             0.0

[5 rows x 17 columns]

In [126]:
elel = llcar.groupby(['hour','postal code', 'public name'])[['postal code']].count()


elel.head()
#elel.sort_values(by = ['postal code'], axis=1, ascending=False)

                                                  postal code
hour postal code public name
0    75001       Paris/Amiral Coligny/2                   480
                 Paris/Bertin PoirÃ©e/14                  480
                 Paris/Colonel Driant/7                   480
                 Paris/Croix des Petits Champs/4          480
                 Paris/Jean-Jacques Rousseau/62           480

In [127]:
#renaming the name pof column to avoid conflict with index
elel.columns = ['pcode count']
elel.head()

                                                  pcode count
hour postal code public name
0    75001       Paris/Amiral Coligny/2                   480
                 Paris/Bertin PoirÃ©e/14                  480
                 Paris/Colonel Driant/7                   480
                 Paris/Croix des Petits Champs/4          480
                 Paris/Jean-Jacques Rousseau/62           480

In [128]:
liel = elel.sort_values('pcode count', ascending=False)
liel.head()

                                          pcode count
hour postal code public name
12   75001       Paris/Amiral Coligny/2           540
14   75016       Paris/Auteuil/55                 540
     75015       Paris/Ãmile Zola/65             540
                 Paris/Ãmile Zola/143            540
                 Paris/Ãmile Duclaux/19          540

In [129]:
li = liel.groupby('postal code')[['pcode count']].sum()
li.head(10)

             pcode count
postal code
75001             101700
75002             140365
75003             153023
75004             178206
75005             228160
75006             203527
75007             293208
75008             377440
75009             266197
75010             286654

In [130]:
li.sort_values('pcode count', ascending=False).head()

             pcode count
postal code
75015             637312
75016             548113
75017             467670
75013             458811
75020             440355

In [0]:
## In overall, postal code 75015 is the most popular with a count of 713,875

### Determining station(s) associated with the most popular postal code

In [135]:
lii = liel.groupby(['postal code', 'public name'])[['pcode count']].sum()
lii.head()

lii.loc[[75015]]

                                         pcode count
postal code public name
75015       Paris/ArrivÃ©e/16                  12760
            Paris/Balard/108                   12761
            Paris/Beaugrenelle/4               12760
            Paris/Colonel Pierre Avia/1        12761
            Paris/Commerce/5                   12761
            Paris/Convention/171               12761
            Paris/Convention/75                12761
            Paris/Cotentin/29                  12761
            Paris/Croix Nivert/192             12760
            Paris/Cronstadt/2                  12761
            Paris/Dantzig/37                   12760
            Paris/Dantzig/80                   12761
            Paris/Emile Zola/6                 12761
            Paris/Finlay/43                    12044
            Paris/FÃ©dÃ©ration/10              12760
            Paris/Gerbert/11                   12761
            Paris/Grenelle/139                 12760
            Paris/Grenelle/37                  12761
            Paris/Houdart de Lamotte/2         12761
            Paris/HÃ©ricart/54                 12760
            Paris/Jean Sicard/1                12760
            Paris/Lacordaire/56                12760
            Paris/Leblanc/19                   12761
            Paris/Lecourbe/178                 12761
            Paris/Lecourbe/336                 12761
            Paris/Lecourbe/63                  12761
            Paris/Lourmel/33                   12760
            Paris/Lourmel/79                   12760
            Paris/Mademoiselle/22              12760
            Paris/Mademoiselle/67              12760
            Paris/Maine/4                      12761
            Paris/Miollis/21                   12760
            Paris/Morillons/95                 12760
            Paris/Olier/15                     12760
            Paris/Olivier de Serres/3          12760
            Paris/Pasteur/41                   12761
            Paris/Paul Barruel/44              12760
            Paris/Suffren/112                  12761
            Paris/Suffren/161                  12761
            Paris/Suffren/2                    12761
            Paris/Suffren/44                   12761
            Paris/Suffren/78                   12760
            Paris/SÃ©bastien Mercier/44        12760
            Paris/Vasco de Gama/74             12760
            Paris/Vaugirard/20                 12761
            Paris/Vaugirard/230                12761
            Paris/VouillÃ©/47                  12761
            Paris/Ãmile Duclaux/19            12761
            Paris/Ãmile Zola/143              12761
            Paris/Ãmile Zola/65               12761

In [138]:
lii.loc[[75015]].sort_values('pcode count', ascending=False).head()

                                pcode count
postal code public name
75015       Paris/Lecourbe/63         12761
            Paris/Suffren/161         12761
            Paris/Lecourbe/178        12761
            Paris/Lecourbe/336        12761
            Paris/Balard/108          12761

In [0]:
## Multiple stations are associated with the popular postal code and they include Paris/Lecourbe/63, Paris/Suffren/161, Paris/Lecourbe/178, Paris/Lecourbe/336, Paris/Balard/108   etc.
##

### Determining most popular postal codes during the peak picking hour

In [0]:
le = elel.sort_values('pcode count', ascending=False)
le.head(10)

                                            pcode count
hour postal code public name
12   75001       Paris/Amiral Coligny/2             540
14   75009       Paris/La Fayette/56                540
                 Paris/Adolphe Max/6                540
                 Paris/Anvers/Parking               540
                 Paris/Aumale/28                    540
                 Paris/Chateaudun/21                540
                 Paris/ChaussÃ©e d'Antin/5          540
                 Paris/Clichy/23                    540
                 Paris/Conservatoire/13             540
                 Paris/Haussmann/6                  540

In [139]:
lol = elel.loc[[0]]
lol.head()

                                                  pcode count
hour postal code public name
0    75001       Paris/Amiral Coligny/2                   480
                 Paris/Bertin PoirÃ©e/14                  480
                 Paris/Colonel Driant/7                   480
                 Paris/Croix des Petits Champs/4          480
                 Paris/Jean-Jacques Rousseau/62           480

In [143]:
lol.sort_values('pcode count', ascending=False).head(30)

                                                              pcode count
hour postal code public name
0    75001       Paris/Amiral Coligny/2                               480
     92130       Issy-les-Moulineaux/Promenade du Verger/166          480
                 Issy-les-Moulineaux/Rodin/66                         480
                 Issy-les-Moulineaux/Stalingrad/127                   480
                 Issy-les-Moulineaux/Vaudetard/7                      480
                 Issy-les-Moulineaux/Verdun/135                       480
                 Issy-les-Moulineaux/ÃgalitÃ©/57                     480
                 Issy-les-Moulineaux/Ãles/21                         480
     92140       Clamart/BourcilliÃ¨re/137                            480
                 Clamart/De Gaulle/118                                480
                 Clamart/De Gaulle/233                                480
                 Clamart/Ferrari/1                                    480
                 Clamart/Jean JaurÃ¨s/137                             480
                 Clamart/Jean JaurÃ¨s/255                             480
                 Clamart/Paul Vaillant Couturier/68                   480
                 Clamart/Porte de Trivaux/130                         480
                 Clamart/RÃ©publique/2                                480
                 Clamart/Verdun/1                                     480
                 Clamart/Victor Hugo/40                               480
     92150       Suresnes/Carnot/52                                   480
                 Suresnes/Charles PÃ©guy/1                            480
                 Suresnes/Fontaine du Tertre/21                       480
                 Suresnes/Gardenat Lapostol/42                        480
                 Suresnes/Georges Pompidou/37                         480
                 Suresnes/Henri Sellier/50                            480
                 Suresnes/HuchÃ©/26                                   480
                 Suresnes/Jean JaurÃ¨s/21                             480
     92130       Issy-les-Moulineaux/RenÃ© Jacques/1                  480
                 Issy-les-Moulineaux/Joseph Frantz/46                 480
     92260       Fontenay-aux-Roses/Marx Dormoy/71                    480

In [0]:
## during the most popular picking up hour, the most popular postal codes are 75001, 92130, 92140, 92150, 92130, 92260 etc.